.git
.idea
.vagrant
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
!storage/app/public/.gitkeep
!storage/app/public/tmp/.gitkeep
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.md
