APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

SEND_EXCEPTION_TO_MAIL=true
EXCEPTION_NOTIFICATION_EMAIL=geraldomingoasdez@gmail.com

FACEBOOK_CLIENT_ID=asdsadasd
FACEBOOK_CLIENT_SECRET=asdsadasd
FACEBOOK_CLIENT_CALLBACK=http://localhost:8000/login/facebook/callback
FACEBOOK_PAGE_ID=740853286020855
FACEBOOK_PAGE_ACCESS_TOKEN=SOMETHING
