/node_modules
/public/hot
/public/storage
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
@php

# Ignore all files in tmp directory but keep the folder structure
/storage/app/public/tmp/*
!/storage/app/public/tmp/.gitkeep