body {
    background-color: #F2F2F2;
}
.content-wrapper {

    margin-left: 0px;

}

.custom-container {
    width: 100%;
    padding-top: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vw;
}

@media only screen and (min-width: 993px) {

    .content-wrapper {
        margin-left: 300px;
    }

}