.club-parallax-container {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.club-parallax-container > .page-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.club-parallax-container > .page-title > img {
    width: 15rem;
}

.club-parallax-container > .page-title > h1 {
    color: white;
    text-shadow: 1px 1px 1px black;
    margin: 0 .5rem;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 200;
}

.player > img {
    max-width: 100%;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.col h2 {
    color: #3a3a3a;
    font-size: 2rem;
    margin: 10px 0;
    border-bottom: 1px solid #3a3a3a;
}

.transfer {
    width: 100%;
    padding: 0.2rem 0.5rem;
    border-bottom: 1px solid grey;
}

.transfer > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transfer:hover {
    background-color: rgba(1,1,1,0.05);
}

.transfer:nth-child(1) {
    border-top: 1px solid grey;
}

.transfer > a > figure {
    width: 15%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transfer > a > figure > img {
    width: 100%;
}

.transfer > a > .info {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 1rem 0 1rem 1rem;
}

.parallax-container .parallax {
    background-color: black;
}

.parallax-container .parallax img {
    opacity: 0.7;
}

.tabs .indicator {
    background-color: #107db7;
}

.tabs .tab a {
    color: #c89d68;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #107db7;
}