.news-thumbnail {
    width: 100%;
    height: 100%;

    border: solid .4rem #c89d68;
    z-index: 1;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.news-thumbnail:hover {
    border: solid .4rem #be935e;
}

.news-thumbnail > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #c89d68;
}

.news-thumbnail > div > iframe {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.news_snippets a {
    z-index: 2;
}

.news-thumbnail > div > img {
    width: 100%;
}

.news-title {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    margin: 1rem;
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    padding: .2rem .7rem;
    font-size: 1.8rem;
    font-weight: 300;
}

@keyframes fade-in {
    from { opacity: 0.0; }
    to   { opacity: 1.0; }
}

@keyframes fade-out {
    from { opacity: 0.0; }
    to   { opacity: 1.0; }
}

.news-snippet-progress {
    position: absolute;
    background-color: rgba(1,1,1,0.6);
    height: .3rem;
    top: 0;
    left: 0;
    margin: .4rem;
}

.player-of-the-week {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
}

.player-of-the-week > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 115.1%;
    overflow: hidden;
    border: .4rem solid #3f915b;
    background-color: #3f915b;
}

.player-of-the-week > div > img {
    width: 100%;
}

.player-of-the-week > div > .player-of-the-week-desc {
    position: absolute;
    width: 100%;
    color: white;
    bottom: 0;
    left: 0;
    height: 12%;
    font-size: 1.3rem;
    background-color: #3f915b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-of-the-week > div > .player-of-the-week-name {
    background-color: rgba(1,1,1,0.4);
    color: white;
    position: absolute;
    padding: .2rem;
    font-size: 1.3rem;
    bottom: 15%;
    left: .5rem;
}

@media only screen and (max-width: 992px) {

    .player-of-the-week > div {
        height: 100%;
    }
}

.pub {
    width: 100%;
}

.pub > img {
    width: 100%;
}

.is_live_outer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3f915b;
    color: white;
    margin-top: 1rem;
}

.is_live_outer:hover {
    box-shadow: 0 0 3px #3b3b3b;
    background-color: #3b814f;
}

.is_live_outer > div {
    margin: .5rem 2rem;
}

.is_live_outer > div > p {
    margin: 0;
    line-height: 3rem;
}

.is_live_outer > div > span {

    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}

.is_live_outer > div > i {
    font-size: 4rem;
}

.auth-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.auth-buttons > a {
    margin: 1rem 1rem;
}

.front-page-facts {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #c89d68;
}

.front-page-facts > span:nth-child(1) {
    font-size: 3rem;
    font-weight: 600;
}

.front-page-facts > span:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 300;
    width: 100%;
    margin: 0;
    padding: .2rem .5rem;
    background-color: rgba(1,1,1,0.2);
    text-align: center;
}

.homepage-competition-box {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3f915b;
}

.homepage-competition-box > i {
    font-size: 12rem;
}

.homepage-competition-box:hover {

}

.homepage-competition-box > img {
    width: 75%;
    margin: 2rem;
}

.homepage-competition-box > span {
    font-size: 1.2rem;
    font-weight: 300;
    width: 100%;
    margin: 0;
    padding: .2rem .5rem;
    background-color: rgba(1,1,1,0.2);
    text-align: center;
}

.account-greeting {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.account-greeting > img{
    width: 20%;
    margin: 0 2rem 0 0;
}
